<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
	</head>
	<body>
		<h1>Forum</h1>
		<h5>この掲示板は、古代ローマの中央大広場に着想を得た掲示板です。</h5>

		<!-- 日付で投稿を絞り込むことができる機能 -->
		<form action="/"  method="get">
			日付：
			<input type="date" name="startDate" value="${startDate}" />
			～
			<input type="date" name="endDate" value="${endDate}" />
			<input type="submit" value="絞り込み">
		</form>

		<a href="/new"><button type="button">新規投稿</button> </a>

		<table border="1">
			<tr>
				<th>ID</th>
				<th>内容</th>
				<th>投稿日</th>
				<th>更新日</th>
				<th>削除</th>
				<th>編集</th>
				<th>コメント</th>
			</tr>

			<th:block th:each="content : ${contents}">
				<tr>
					<td th:text="${content.id}">
					<td th:text="${content.content}">
					<td th:text="${content.createdDate}">
					<td th:text="${content.updatedDate}">
					<!-- 削除ボタンの追加 -->
					<td>
						<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
							<input type="submit" value="削除">
						</form>
					</td>
					<!-- 編集ボタンの追加 -->
					<td>
						<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
					</td>
					<!-- コメントの追加 -->
					<td>
						<form method="post" action="/comment" th:object="${formModel}">
							<input type="text" name="content" size="20" maxlength="200">
							<input type="hidden" name="reportId" th:value="${content.id}">
							<input type="submit" value="コメント" />
						</form>
					</td>
				</tr>

				<th:block th:each="comment : ${comments}">
					<th:block th:if="${comment.reportId == content.id}">
						<tr>
							<td></td>
							<td th:text="${comment.content}"></td>
							<td th:text="${comment.createdDate}">
							<td th:text="${comment.updatedDate}">
							<!-- 編集ボタンの追加 -->
							<td>
								<a th:href="@{/editComment/{id}(id=${comment.id})}"><button type="button">編集</button></a>
							</td>
							<!-- 削除ボタンの追加 -->
							<td>
								<form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
									<input type="submit" value="削除">
								</form>
							</td>
						</tr>
					</th:block>
				</th:block>

			</th:block>
		</table>

	</body>
</html>
